/*
	MEDIA QUERIES
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/
/*@media (max-width: 1600px)*/
	/**********************
		INDEX
    **********************/
	
    	
@media (max-width: 1400px)
	/**********************
		HEADER
    **********************/
	.header
		&-main
		.optionsSocial
			padding 0.5em 8%

	/**********************
		FOOTER
    **********************/    	
	.footerContainer
		&-item
			&:last-child
				padding 0.5em 10%
    		
@media (max-width: 1297px)
	/**********************
		HEADER
    **********************/
	.header		
		&-main
		.optionsSocial
			padding 0.5em 2.5em
    	
	/**********************
		INDEX
    **********************/
	.b-container
		width 60em
		&-medical
			.item
				a
					display block
					text-align center
					figure
						width 4em
						margin 0 auto
					.dates
						&-item
							flex-center()
		
	.generalTips
		.pestana1
			top -4em
		/.pestana2
			bottom -5em

	
	/**********************
		FOOTER
    **********************/    	
	.footerContainer
		&-item
			padding 0.5em 3em
				

// Large devices (desktops, 62em and up)
@media (max-width: 991px)
	/**********************
		HEADER
    **********************/
	.header
		&-main
			#nav-icon3
				display block
				z-index 9
			nav				
				background rgba(black, .7)
				position fixed
				z-index 8
				top 0
				right 0
				height 100vh
				width 100vw	
				margin 0	
				ul
					background rgba(morado, .9)
					width 12em
					height 100vh
					margin 0 0 0 auto !important
					padding-top 10em
					li
						float none
						display block
						text-align center
						a
							padding 1em
							width 90%
							margin 0
							color white
							border-bottom 1px dashed white
			#menu
				display none


	/**********************
       INDEX
    **********************/
	.zone-main
		.tablet
			display block
			
		.desktops
			display none
				
	.b-container
		width 90%
		&-item
			width 80%
			margin 0 auto
		&-news
			display block
			.item
				width 20em
				margin 0 auto 1em auto
				&:nth-child(2n)
					margin 0 auto 1em auto
					
		&-textContact
			.contactGeneral
				.item
					width 100%
					text-align center
					margin 1em 0
					&:nth-child(1)
						text-align center
						margin-right 0em
						margin-left 0em
						
					&-option
						flex-center()
	
	.offers
		background-image url("../img/background-ofertasTablet.png")

	.generalTips
		/.pestana2
			bottom -4em
			

	/**********************
		FOOTER
    **********************/    	
	.footerContainer
		&-item
			flex-center()
			ul
				display none



// Medium devices (tablets, 48em and up)
@media (max-width: 769px)
	/**********************
        LOGIN
    **********************/			
	body
		font-size 14px
		
	/**********************
    	HEADER
    **********************/

		
	
	/**********************
        INDEX
    **********************/
    .b-container
		&-medical
			.item
				width 45%


@media (max-width: 630px)
	/**********************
		HEADER
    **********************/
	.header
		.optionsSocial
			width 100%
			margin 0
			flex-center()
				
		&-main
			nav	
				ul
					padding-top 15.5em

	/**********************
    	INDEX
    **********************/			
	body
		font-size 14px
		
	.zone-main
		.smartphone
			display block
			
		.tablet
			display none
		
	.b-container
		width 95%
		&-item
			width 95%
			
		.textOurs
			width 90%
			
		&-news
			.item
				width 60%
				
	.generalTips
		.pestana1
			top -3em
			/.img-1
				display none
			/.img-2
				display block
		/.pestana2
			bottom -2.5em
			
	.offers
		background-image url("../img/background-ofertasPhone.png")
	
	.formContact
		form
			width 90%

							
	/**********************
		FOOTER
    **********************/    	
	.footerContainer
		text-align center	
				
@media (max-width: 470px)
	/**********************
    	INDEX
    **********************/
	.b-container
		&-item
			width 100%
			li
				margin-bottom 1em
		&-news
			.item
				width 80%
				
	.generalTips
		.pestana1
			top -2em


// Small devices (landscape phones, 415px and up)
@media (max-width: 415px)
	body
		font-size 11px

	/**********************
		HEADER
    **********************/
	.header				
		&-main
			nav	
				ul
					width 14em
				
	/**********************
        INDEX
    **********************/				
	.b-container
		&-medical
			.item
				width 100%
				a
					flex-flexStart()
					text-align left
					figure
						margin 0
					.dates
						&-item
							flex-flexStart()
						
